* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.rectangle {
    position: absolute;
    width: 1440px;
    height: 586px;
    left: 0px;
    top: 0px;
    background: #74C69D;
}

.homenav {
    width: 58px;
    height: 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.portfolionav {
    width: 83px;
    height: 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 125%;
    text-align: right;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
}


.people {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 120px;
    position: absolute;
    width: 1180.28px;
    height: 378.13px;
    left: 130px;
    top: 125px;
}

.logo {
    position: relative;
    margin: 40px;
}

.nav {
    display: flex;
    position: absolute;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 5px;
    position: absolute;
    width: 475px;
    height: 50px;
    left: 135px;
    top: 35px;
    margin-left: 700px;
}

.rectangle2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 55px;
    position: absolute;
    width: 1158.98px;
    height: 370px;
    left: 141px;
    top: 600px;
}

.rectangle3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 52px;
    position: absolute;
    width: 1180px;
    height: 431.43px;
    left: 130px;
    top: 1089px;
}

.images {
    margin: 0 auto;
    width: 600px;
    height: 431.43px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.texts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    margin: 0 auto;
    width: 470px;
    height: 255px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.rectangle4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 141px;
    position: absolute;
    width: 1180px;
    height: 565.73px;
    left: 130px;
    top: 1594px;
}

.lorem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    margin: 0 auto;
    width: 470px;
    height: 255px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.icons {
    margin: 0 auto;
    width: 600px;
    height: 565.73px;
    flex: none;
    order: 1;
    flex-grow: 0;

}

.rectangle5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 45px;
    position: absolute;
    width: 1176px;
    height: 599px;
    left: 132px;
    top: 2262px;
}

.team-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 404px;
    height: 162px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.team {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 47px;
    width: 1176px;
    height: 299px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.view-team {
    width: 170px;
    height: 48px;
    flex: none;
    order: 2;
    flex-grow: 0;
}

.rectangle6 {
    position: absolute;
    width: 1440px;
    height: 125px;
    left: 0px;
    top: 2915px;
    background: #1b5c3b;

}

.home {
    position: relative;
    width: 1440px;
    height: 3040px;
    background: #FFFFFF;
}

.portfolio {
    position: relative;
    width: 1440px;
    height: 2300px;

    background: #FFFFFF;

}

.portfolio-nav {
    position: absolute;
    width: 1440px;
    height: 123px;
    left: 0px;
    top: 0px;
    background: #74C69D;
}

.port-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 55px;
    position: absolute;
    width: 1187px;
    height: 1567px;
    left: 130px;
    top: 397px;
}

.port-learn-more {
    position: absolute;
    width: 170px;
    height: 48px;
    left: 635px;
    top: 2028px;
}

.port-learn-more {
    position: absolute;
    width: 170px;
    height: 48px;
    left: 635px;
    top: 2028px;
}

.port-footer {
    position: absolute;
    width: 1440px;
    height: 125px;
    left: 0px;
    top: 2175px;
}

.serv-nav {
    position: absolute;
    width: 1440px;
    height: 123px;
    left: 0px;
    top: 0px;
    background: #74C69D;
}

.serv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 654px;
    position: absolute;
    width: 1175px;
    height: 50px;
    left: 135px;
    top: 35px;
}

.serv-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 411px;
    height: 162px;
    left: 515px;
    top: 158px;
}

.plans {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 105px;
    position: absolute;
    width: 1227px;
    height: 542px;
    left: 107px;
    top: 398px;
}

.serv-footer {
    position: absolute;
    width: 1440px;
    height: 125px;
    left: 0px;
    top: 1075px;
}

.contact {
    position: relative;
    width: 1440px;
    height: 949px;
    background: #FFFFFF;
}

.cont-nav {
    position: absolute;
    width: 1440px;
    height: 123px;
    left: 0px;
    top: 0px;
    background: #74C69D;
}

.cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 654px;
    position: absolute;
    width: 1175px;
    height: 50px;
    left: 135px;
    top: 35px;
}

.cont-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 411px;
    height: 126px;
    left: 515px;
    top: 153px;
}

.map {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    position: absolute;
    width: 1180px;
    height: 385px;
    left: 130px;
    top: 346px;
}

.cont-footer {
    /* Group 46 */

    position: absolute;
    width: 1440px;
    height: 125px;
    left: 0px;
    top: 824px;

}